.chartWrapper {
	position: relative;
	width: 50%;
}

#baseCharts {
	display: flex;
	flex-wrap: wrap;
}

/* Change chart settings inputs */

.inputs {
	position: absolute;
	left: 40px;
    top: 10px;
	z-index: 5;
}

.inputs .switches {
	background-color: white;
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
}

.inputs .switches label {
	margin-top: 5px;
}

@media (min-width: 800px) {
	#bubbleChart {
		min-width: 500px;
		max-width: 1000px;
		min-height: 700px;
	}
}

@media (max-width: 800px) {
	#bubblechart {
		min-width: auto;
	}
}

/* Countries Side Nav */

.countrySelector {
	padding: 10px 20px;
	width: 250px;
  }
  
.countries-list p {
margin: 10px 0;
display: flex;
justify-content: space-between;
}

@media (max-width: 800px) {
	.countries-list p {
		padding: 0 30px;
	}
}

.sidebar-content {
padding: 0 5px;
}

.sidebar-content {
padding: 0 5px;
}

.colorLabel {
	width: 31px;
	height: 31px;
	border-radius: 50%;
	box-shadow: 1px 1px;
	transition: 0.3s;
}

.colorLabel:hover {
	width: 33px;
	height: 33px;
}

.colorLabel .colorPicker {
	opacity: 0;
}