.chartWrapper {
	position: relative;
}
.chartWrapper .switch {
	position: absolute;
	left: 200px;
	top:7px;
	z-index: 5;
}

.chartWrapper {
	width: 50%;
}

#baseCharts {
	display: flex;
	flex-wrap: wrap;
}