#dashboard .card .card-content .card-title {
	line-height: normal;
	text-align: center;
	font-size: 7.5em;
}

#dashboard .card .card-content p {
	font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}


#dashboard .card .card-content p.list {
	padding-top: 5px;
	font-weight:normal;
	text-align: left;
	font-size: 1em;
}

#leftCards, #rightCards {
	margin-top: 10px;
}