#dashboard .card .card-content .card-title {
	line-height: normal;
	text-align: center;
	font-size: 7.5em;
}

#dashboard .card .card-content p {
	font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}


#dashboard .card .card-content p.list {
	padding-top: 5px;
	font-weight:normal;
	text-align: left;
	font-size: 1em;
}

#leftCards, #rightCards {
	margin-top: 10px;
}

#mobileDrawer {
	padding-top: 20px;
}

#mobileDrawer .pageLink {
	font-size: 1.6em;
	opacity: 0.9;
	position: relative;
}

#mobileDrawer .pageLink:hover {
	opacity: 1;
}

#mobileDrawer .pageLink:active {
	opacity: 1;
	top: 1px;
}