html, body {
  font-family: 'Roboto', sans-serif;
}


.infoWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.chartContainer {
  height: 40vh;
  position: relative;
}

.chartTooltip {
  color: #1D2129;
  display: inline;
  margin: 2vh;
}

.hContainer {
  position: absolute;
  top: 0; left: 0;
  z-index: 5;
  margin-top: 40px;
  margin-left: 60px;
}

.bar:hover {
  fill: white;
}

.countrySelector {
  padding: 10px 20px;
  width: 250px;
  margin-top:30px;
}

.countryOption {
  display: flex;
  justify-content: space-between;
  border: solid 1px gray;
  border-radius: 2px;
  padding: 2px 5px;
}

.dateRange-slider {
  margin: 0 35px;
}

.data-table {
  width: 100%;
}

.countries-list p {
  margin: 10px 0;
}

.data-table {
  margin-top: 40px;
  height: 80vh;
  overflow-y: scroll;
}

.data-table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-collapse: separate;
  background-color: white;
}

.data-table .highlight {
  background-color: yellow;
  font-weight: bold;
  background-color: #ffbfbf;
}

#mainDisplay td, #mainDisplay th {
  border: solid 1px gray;
}

.chartList {
  margin-top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}