html, body {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html nav, html footer.page-footer {
  background-color: #344972;
}

main {
  flex: 1 0 auto;
}

body nav {
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.center-display .page {
  padding-top: 64px;
}

.chart {
  height: 40vh;
}

footer.page-footer {
  padding-top: 0;
}
