html {
    font-family: 'Roboto', sans-serif;
  }

.wrapper {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh auto;
}
.container {
  width: 50vw;
  height: 50vh;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px #252b38;
}

.infoWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.chartTooltip {
  color: #1D2129;
  display: inline;
  margin: 2vh;
}

.bar:hover {
  fill: white;
}

.countrySelector {
  padding: 10px 20px;
  width: 250px;
}
