html, body {
  font-family: 'Roboto', sans-serif;
}


.infoWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.chartContainer {
  height: 350px;
}

.chartTooltip {
  color: #1D2129;
  display: inline;
  margin: 2vh;
}

.bar:hover {
  fill: white;
}

.countrySelector {
  padding: 10px 20px;
  width: 250px;
}

.countryOption {
  display: flex;
  justify-content: space-between;
  border: solid 1px gray;
  border-radius: 2px;
  padding: 2px 5px;
}

.dateRange-slider {
  margin: 0 35px;
}
