html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body nav {
  box-shadow: none;
}

.infoWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.chart {
  height: 40vh;
}

.chartContainer.margin-top {
  margin-top: 50px;
}

.chartTooltip {
  color: #1D2129;
  display: inline;
  margin: 2vh;
}

.hContainer {
  position: absolute;
  top: 0; left: 0;
  z-index: 5;
  margin-top: 40px;
  margin-left: 60px;
}

.bar:hover {
  fill: white;
}

.countrySelector {
  padding: 10px 20px;
  width: 250px;
}

.countryOption {
  display: flex;
  justify-content: space-between;
  border: solid 1px gray;
  border-radius: 2px;
  padding: 2px 5px;
}

.dateRange-slider {
  margin: 0 35px;
}

.countries-list p {
  margin: 10px 0;
}

.data-table {
  height: 85vh;
  overflow-y: scroll;
  width: 100%;
}

.data-table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-collapse: separate;
  background-color: white;
}

.data-table .highlight {
  background-color: yellow;
  font-weight: bold;
  background-color: #ffbfbf;
}

#mainDisplay td, #mainDisplay th {
  border: solid 1px gray;
}

.chartList {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

#customCharts {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

.tabs {
  margin-top: 40px;
}

.inline-numeric {
  width:40px !important;
}

#chartList, #customCharts {
  padding: 0 14px;
}

#chartList::-webkit-scrollbar {
  display: none;
}

.side-display {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  height: 100%;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  padding: 5px 15px;
  font-weight: bold;
}

#mainDisplay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 64px;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}

#mainDisplay.row .col {
  padding: 0px;
}

.sidebar-content {
  padding: 0 5px;
}

.sidebar-content {
  padding: 0 5px;
}

.panel-header .chevron {
  width: 24px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
}