html {
    background-color: #1d2129;
    font-family: 'Roboto', sans-serif;
  }

  #container {
    margin: 10vh auto;
    width: 1000px;
    height: auto;
    text-align: center;
    background-color: white;
    color: #1d2129;
    box-shadow: 3px 3px #252b38;
  }

  #title {
    padding: 30px 10px 10px 10px;
    font-size: 44px;
    font-weight: 500;
  }

  .bar:hover {
    fill: white;
  }

  #tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    background-color: rgba(34,39,48, 80%);
    color: white;
    box-shadow: 3px 3px #252b38;
  }

  #tooltip > p {
    margin: 5px;
    padding: 5px;
    text-align: center;
  }